# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Revolutionary Adventures.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../:\Projects\UnityProjects\Revolutionary Adventures\.idea\.idea.Revolutionary Adventures\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
